<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs Home</title>
  </head>
  <body>
    <a href="/form">Click here for plain madlib!</a>
    <a href="/animalsForm">Click here for animal madlib!</a>
  </body>
